doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Account Verification Email
    body
        h1 Blog Management System
        h2 Hello 🙏
        h3 Welcome, #{firstName} #{lastName}!
        p Your account has been created successfully.
        p Thank you for choosing the Blog Management System.
        p Happy Blogging.
        a(href=link) Please click on this link to verify your account.
        p
            strong Please note that the above link will expire in 24 hours (1 Day).
        p &copy; Blog Management System | Reginald Chand 2024. All Rights Reserved.