doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Password Reset Email
    body
        h1 Blog Management System
        h2 Hello 🙏
        h3 Welcome, #{firstName} #{lastName}!
        p We received a request to reset your password.
        p If you did not make this request, please ignore this email.
        p Otherwise, please click on the link below to reset your password.
        a(href=link) Reset your password.
        p
            strong Please note that the above link will expire in an hour (1 hour).
        p &copy; Blog Management System | Reginald Chand 2024. All Rights Reserved.